html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    width: fit-content;
    height: fit-content;
}